h1 {
    font: comic;
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 30px;
    text-align: center;
}
h4 {
    text-align:center;
    /*will not see this work if we dont need to scroll*/
    position: sticky;
    top: 0;
    padding: 5px;
}
body {
    background-color: rgb(49, 238, 213);
}
.grid-container {
    z-index: 0;
    display: grid;
    /*1fr, 2fr, ... evenly divides it
    auto fits the container to the content*/
    grid-template-columns: auto;
    gap: 10px;
    background-color: rgb(11, 153, 209);
    padding: 10px;
}
.grid-container > div {
    z-index: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
p {
    z-index: 0;
}
ul {
    list-style-type: none;
}
.list {
    display: inline;
    margin-right: 25px;
}